<html>
  <head>
    <title>That's a BINGO!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/main.css') }}"
    />
  </head>
  <body>
    <h1>
      <a href="https://www.youtube.com/watch?v=O5s3Oj2cPgc" target="_blank">
        That's a BINGO!</a
      >
    </h1>
    <h3>
      Bingo utilizado para calls/reuniões/meetings de startups e empresas em
      geral.<br />
      Divirta-se e preste atenção!
    </h3>
    <a
      ><img
        src="https://media3.giphy.com/media/DFu7j1d1AQbaE/giphy.gif"
        alt="that's a bingo gif"
    /></a>

    <form>
      <p>
        Palavras normalmentes usadas:
      </p>
      <input type="checkbox" name="arg" value="feedback" />feedback
      <input type="checkbox" name="arg" value="alinhar" />alinhar
      <input type="checkbox" name="arg" value="metas" />metas
      <br />
      <input
        type="checkbox"
        name="arg"
        value="desenvolvimento"
      />desenvolvimento
      <input type="checkbox" name="arg" value="trackear" />trackear
      <input type="checkbox" name="arg" value="basicamente" />basicamente
      <br />
      <input type="checkbox" name="arg" value="tipo assim" />'tipo asism' pelo
      menos 5x <input type="checkbox" name="arg" value="modelo" />modelo
      <input type="checkbox" name="arg" value="ppg" />ppg
      <br />
      <p>
        Ações extras:
      </p>
      <input type="checkbox" name="arg" value="cachorro" />cachorro latindo na
      chamada <input type="checkbox" name="arg" value="alguém comendo" />alguém
      comendo
      <input type="checkbox" name="arg" value="edin caiu da chamada" />edin caiu
      da chamada

      <br />
      <br />
      <input type="submit" value="That's a BINGO!" />
    </form>
  </body>
</html>
